# Python Basics 2

## Contents:
* Functions
* Lists

## Functions

### Introduction

In [112]:
# Programme to choose N objects out of R -nCr
n = int(input())
r = int(input())

n_fact = 1
for i in range(1,n+1):
    n_fact = n_fact * i

r_fact = 1
for i in range(1,r+1):
    r_fact = r_fact * i

n_r_fact = 1
for i in range(1,n-r+1):
    n_r_fact = n_r_fact * i

ans = n_fact//(r_fact * n_r_fact)
print(ans)

6

In [ ]:
# Creating a function so that we do not repeat the code again and again
def fact(n):
    n_fact = 1
    for i in range(1,n+1):
        n_fact = n_fact * i
    return n_fact

In [ ]:
# Calling and printing a function
a = fact(3)
print(a)

6

In [ ]:
# Printing the chosoing options using the fact function
n = int(input())
r = int(input())
n_fact = fact(n)
r_fact = fact(r)
n_r_fact = fact(n-r)
ans = n_fact//(r_fact * n_r_fact)
print(ans)

6

### Question 1

Check weather a function is prime or not

In [ ]:
def isPrime(n):
    for d in range(2, n):
        if n % d == 0:
            break
    else:
        return True
    # we are returning the flase here as the function has tu return either true or false - Till above the function only deals with True. if it comes to return True in the for
    # it will terimate there only, but if the fuction breaks(on if statement) it will return false i.e. the given number was not a prime. 
    return False

# Driver Code
a = isPrime(7)
print(a)

True

Prints all Prime number from 2 to n

In [ ]:
def primeFrom2toN2(n):
    for k in range(2,n+1):
        # check if k is prime and in case it is prime print k
        is_k_prime = isPrime(k)
        if(is_k_prime):
            print(k)
# Driver Code
primeFrom2toN2(10)

2
3
5
7

### Function for calculating nCr

In [ ]:
# We are using the prime function here
def ncr(n, r):
    n = int(input())
    r = int(input())
    n_fact = fact(n)
    r_fact = fact(r)
    n_r_fact = fact(n-r)
    ans = n_fact//(r_fact * n_r_fact)
    return ans

In [ ]:
def func(a):
    a = a + 10
    return a
a = 5
func(a)
print(a)

5

### DEFAULT ARGUMENTS - Fuctions with variable number of Arguments

In [ ]:
def sum0(a,b):
    return a + b

def sum1(a,b,c):
    return a + b + c
# but if we don't want to make a function 2 times then we can...
# ALL NON DEFAULT ARGUMNETS SHOULD BE BEFORE ARGUMENTS WITH DEFAULT ARGUMNETS

def sum(a,b,c=0):
    return a + b + c

print(sum(2,3,4))
print(sum(2,3))

9
5

### Question 2

Fahrenheit to Celsius Function

Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.  

Input Format :  
3 integers - S, E and W respectively

Output Format :  
Fahrenheit to Celsius conversion table. One line for every Fahrenheit and Celsius Fahrenheit value. Fahrenheit value and its corresponding Celsius value should be separate by tab   ("\t")  

Constraints :  
0 <= S <= 1000  
0 <= E <= 1000  
0 <= W <= 1000  

Sample Input 1:  
0  
100  
20  

Sample Output 1:  
0   -17  
20  -6  
40  4  
60  15  
80  26  
100 37  

Sample Input 2:  
120   
200   
40

Sample Output 2:  
120 48  
160 71  
200 93  

Explanation for Sample Output 2 :  
Start value is 120, end value is 200 and step size is 40. Therefore, the values we need to convert are 120, 120 + 40 = 160, and 160 + 40 = 200.   
The formula for converting Fahrenheit to Celsius is:  
Celsius Value = (5/9)*(Fahrenheit Value - 32)    
Plugging 120 into the formula, the celsius value will be (5 / 9)*(120 - 32) => (5 / 9) * 88 => (5 * 88) / 9 => 440 / 9 => 48.88  
But we'll only print 48 because we are only interested in the integral part of the value.

In [ ]:
def printTable(start,end,step):
    for i in range(start, end +1,step):
        C = (i - 32) * 5/9
        print(i,' ',int(C),'\t')
 
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

### Question 3

<pre>
Fibonacci Member

Given a number N, figure out if it is a member of fibonacci series or not. Return true if the number is member of fibonacci series else false.
Fibonacci Series is defined by the recurrence
    F(n) = F(n-1) + F(n-2)
where F(0) = 0 and F(1) = 1


Input Format :
Integer N
Output Format :
true or false
Constraints :
0 <= n <= 10^4
Sample Input 1 :
5
Sample Output 1 :
true
Sample Input 2 :
14
Sample Output 2 :
false    
</pre>

In [ ]:
def checkMember(n):
    f0 = 0
    f1 = 1
    if  n==f0 or n==f1:
        return True
    f2 = f0+f1
    while(f2<n):
        f0 = f1
        f1 = f2
        f2 = f0 + f1
    if f2 == n:
        return True
    else:
        return False

n=int(input())
if(checkMember(n)):
    print("true")
else:
    print("false")

false

### Question 4

<pre>
Palindrome number

Write a program to determine if given number is palindrome or not. Print true if it is palindrome, false otherwise.
Palindrome are the numbers for which reverse is exactly same as the original one. For eg. 121

Sample Input 1 :
121

Sample Output 1 :
true

Sample Input 2 :
1032

Sample Output 2 :
false
</pre>

In [ ]:
def checkPalindrome(num):
    temp = num
    rev = 0
    while(num > 0):
        reminder = num % 10
        rev = (rev * 10) + reminder
        num = num // 10
        
    if (temp == rev):
        return True
    else:
        return False
     
     
num = int(input())
isPalindrome = checkPalindrome(num)
if(isPalindrome):
	print('true')
else:
	print('false')

true

### Question 5

<pre>
Check Armstrong

Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false.
An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.

For example,
371, as 3^3 + 7^3 + 1^3 = 371
1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634

Input Format :
Integer n

Output Format :
true or false

Sample Input 1 :
1

Sample Output 1 :
true

Sample Input 2 :
103

Sample Output 2 :
false
</pre>

## Lists

### Creating a list

In [ ]:
li = []

In [ ]:
type(li)

list

In [ ]:
li = [1,2,3]

In [ ]:
li  = [1, 2, 'Abhishek', 3.4]

In [ ]:
li

[1, 2, 'Abhishek', 3.4]

### Access and change elements

In [ ]:
li[0]

1

In [ ]:
li[2]

'Abhishek'

In [ ]:
li[0] = 5

In [ ]:
li[2] = 'Avishek'

In [ ]:
li

[5, 2, 'Avishek', 3.4]

### Slicing of a list

In [ ]:
# Indexing starts from 0 and ends ar (n-1)
# Prints 1st and 2nd index
li [1:3]

[2, 'Avishek']

In [ ]:
li

[5, 2, 'Avishek', 3.4]

In [ ]:
# Will give us all the elemnts strating from 1st index and ending at last index
li[1:]

[2, 'Avishek', 3.4]

In [ ]:
# Will give you complete list
li[:]

[5, 2, 'Avishek', 3.4]

In [ ]:
# If I wanna print 1 till 10 index it will not matter if the index is present or not it just prints all the elemets irrespective
li [1:10]

[2, 'Avishek', 3.4]

### Inserting and append elemnts in the list

In [ ]:
# will add the element in the last
li.append('Ankush')

In [ ]:
li

[5, 2, 'Avishek', 3.4, 'Ankush']

In [ ]:
# Will insert 7 in the 1st index and move all the rest of the index in the last
li.insert(1,7)

In [ ]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush']

In [ ]:
# if the index we are trying to update in is not present then it will actomatically add in the last index
li.insert(100,'Abhimanyu')

In [ ]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu']

In [ ]:
# If I want to append multiple elements liek this then it will add a list inside a list
li.append([9,10,11])

In [ ]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11]]

In [ ]:
# But if we do not want to insert the multiple elements as list then we can use 'extend'
li.extend([9,10,11])

In [ ]:
li

[5, 7, 2, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

### Removing elements from the list

In [ ]:
li.remove(2)

In [ ]:
li

[5, 7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [ ]:
# Now there can be multiple istances of element present
li.append(5)

In [ ]:
li.remove(5)

In [ ]:
# 5 is removed from the fisrst element
li

[7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11, 5]

In [ ]:
# If we wanted to delete from a particular index we could use the pop functationality
# By default the if we do not specify any value inside the pop fuction the it will remove the last element or else we can specify the index which we would like to 
li.pop()

5

In [ ]:
li

[7, 'Avishek', 3.4, 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [ ]:
# pop also returns the elemnt that is removed
li.pop(2)

3.4

In [ ]:
li

[7, 'Avishek', 'Ankush', 'Abhimanyu', [9, 10, 11], 9, 10, 11]

In [ ]:
# length functionality is present in the list
len(li)

8

### Loopin in a list

In [ ]:
a = [1, 2, 'Avishek', 9, 10, 11, 'Abhimanyu']

In [ ]:
a

[1, 2, 'Avishek', 9, 10, 11, 'Abhimanyu']

In [ ]:
# Printing the elements of list - we can do it in 2 ways
# We will use this method when we need the index in our programme
# WAY 1
for i in range(len(a)):
    print(a[i])

1
2
Avishek
9
10
11
Abhimanyu

In [ ]:
# Starting from the 2nd index and then looping
for i in range(2,len(a)):
    print(a[i])

Avishek
9
10
11
Abhimanyu

In [ ]:
# We can also print the elements of the list in this friend
# We will prefer this if we do not need an index
# WAY 2
for i in a:
    print(i)

1
2
Avishek
9
10
11
Abhimanyu

In [ ]:
# Starting from the 2nd index and then looping
for i in a[2:]:
    print(i)

Avishek
9
10
11
Abhimanyu

### Negetive Indexing and Sequencing in Lists

In [ ]:
b = [1, 2, 3, 4, 5]

In [ ]:
# Gives the last element or we can look at it as the first element from the last
b[-1]

5

In [ ]:
# Gives us the second element from the last
b[-2]

4

In [ ]:
# gives us the last index we do -1 because the indexing starts from 0
b[len(b)-1]

5

### Sequencing in lists

In [ ]:
# We can have sequencing in lists [START:END:STEP]
b

[1, 2, 3, 4, 5]

In [ ]:
b[1:5:1]

[2, 3, 4, 5]

In [ ]:
# end goes till n-1
b[1:3:1]

[2, 3]

In [ ]:
# b is not being changes the obove operations are just variable and can be used inside
b

[1, 2, 3, 4, 5]

In [ ]:
b[1:5:2]

[2, 4]

In [ ]:
# will start from 1st index and will go to the end
b[1:]

[2, 3, 4, 5]

In [ ]:
# will start from the 1st index and go till the last index, and will incremenrt till 2
b[1::2]

[2, 4]

In [ ]:
# By default start is 0, end is len of list and the step is one
b[-1:]

[5]

In [ ]:
# It starts from the third last element and goes till last element -1 as (n -1)
b[-3:-1]

[3, 4]

In [ ]:
# if we want to print the list in reverse we will have to 
b[-1::-1]

[5, 4, 3, 2, 1]

### Taking input in a list

line seperate input in a list

In [ ]:
# n asks for the number of inputs, c is a list and we are appending the valus of curr inside x for n number of times.
# as it is asling us again and again for the input therefore the input is line seperated input
n = int(input())
c = []
for i in range(n):
    curr = int(input())
    c.append(curr)

print('The output for c is: ',c, 'and there are n elements in the list, n =',n)

The output for c is:  [1, 2, 3, 4, 5] and there are n elements in the list, n =  5

In [ ]:
# if wanted to print all the elemesnts of the list we have seen that already
for ele in c:
    print (ele)

1
2
3
4
5

Space seperated in puts in a list

In [ ]:
# first lets understan the split functionality of python
str = input()
str_split = str.split(',') # splits in basis of ','
print(str_split)

['1', '2', '3', '4', '5']

In [ ]:
# by default the split dunction uses space ' ' as a delimeter
# if we want to split on basis of ' ' blank spaces we could do this...
str = input()
str_split = str.split(' ') # splits in basis of ','
print(str_split)

['1', '2', '3', '4', '5']

In [ ]:
# now the given lists has strings and we want integers
d = []
for ele in str_split:
    d.append(int(ele))

print(d)

[1, 2, 3, 4, 5]

In [ ]:
# IMPORTANT
# we could do all of this in one line
d = [int(x) for x in input().split(' ')]
print(d)

[1, 2, 3, 4, 5]

In [ ]:
# printing all the elemenst of the list in one line
for ele in d:
    print (ele, end =' ')

1 2 3 4 5

In [ ]:
# for taking 5 inputs from the user
n = int(input())
d = [int(x) for x in input().split()]
for ele in d:
    print (ele, end = ' ')

1 2 3 4 5

### Question 1

#### Array Sum
<pre>
Given an array of length N, you need to find and print the sum of all elements of the array.
Input Format :
Line 1 : An Integer N i.e. size of array
Line 2 : N integers which are elements of the array, separated by spaces
Output Format :
Sum
Constraints :
1 <= N <= 10^6
Sample Input :
3
9 8 9
Sample Output :
26
</pre>

In [ ]:
N = int(input())
d = [int(x) for x in input().split()]
a = 0
for ele in d:
    a = ele + a
print(a)

26

### Linear Search

In [ ]:
# n is how many elements are present, li is the lsit with the input from the user in one list
n = int(input())
li = [int(x) for x in input().split()]
print(li)

[2, 4, 7, 9, 10, 13]

In [ ]:
# ele is the element we want to search in the list li. If present we output the index of the element or else we display -1
ele = int(input())
print(ele)

10

In [ ]:
for i in range(len(li)):
    if li[i] == ele:
        print(i)
        break
else:
    print('-1')

4

### Linear Search through functions

In [ ]:
def LinearSearch(li, ele):
    for i in range(len(li)):
        if li[i] == ele:
            return(i)
            break
    return ('-1')

li = [1,2,3,90,76]
ele = 90
index = LinearSearch(li,ele)
print(index)

3

### Mutable and Immutable concept

immutable variable demonstration

In [ ]:
#id of a and x are the same as they are pointing to the same number
x = 3
a = 3
print(x)

3

In [ ]:
id(a)

140726555977584

In [ ]:
id(x)

140726555977584

In [ ]:
# id of 'a' changes but the x value is the same
a = 4
id(a)

140726555977616

In [ ]:
x

3

In [ ]:
a

4

Mutable lists demonstration

In [ ]:
li = [1,2,3,4]
li2 = li
li2 = [3,4,4]
li[1]= 4

In [ ]:
print(li)
print (li2)

[1, 4, 3, 4]
[3, 4, 4]

### Passing a variable through a Function

In [ ]:
# Wrong way of doning things(Ecplained in copy)
# Expected ans was 4 and the real ans is 2
def increment(a):
    a = a+2
    return

a =2
increment(a)
print(a)

2

In [ ]:
# correct way of doing things
def increment(a):
    a = a+2
    return a

a =2
a = increment(a)
print(a)

4

### Passing lists through functions

In [ ]:
# This is correct ways as lists are mutable
def increment(li):
    li[0] = li[0] + 2
    return

li = [1,2,3,4,5]
increment(li)
print(li)

[3, 2, 3, 4, 5]

In [ ]:
# we want to change the list to [3,2,4] but it is not changing as 
# this is not the correct way
def newList(li):
    li = [3,2,4]
    return

li = [1,2,3,4,5]
newList(li)
print(li)

[1, 2, 3, 4, 5]

In [ ]:
# The correct way of doin things is
def newList(li):
    li = [3,2,4]
    return li

li = [1,2,3,4,5]
li = newList(li)
print(li)

[3, 2, 4]

### Revercing a List

1. Using the concept of swapping and length

In [ ]:
def reverseL(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[length-i-1] = li[length-i-1],li[i] # This is how we can perform swapping in python for lists
    
li = [1, 2, 3, 4, 5, 6]
reverseL(li)
print(li)

[6, 5, 4, 3, 2, 1]

2. Using the concept of negetive indexing

In [ ]:
# Using the negetive indexing concept
def reverseL2(li):
    length = len(li)
    for i in range(length//2):
        li[i],li[-i-1] = li[-i-1],li[i] # This is how we can perform swapping in python for lists
    
li = [1, 2, 3, 4, 5, 6]
reverseL2(li)
print(li)

[6, 5, 4, 3, 2, 1]

3. Using the concept of slicing a list

In [114]:
# for understanding
li = [6,5,4,3,2,1]
li

[6, 5, 4, 3, 2, 1]

In [115]:
li[3:1:-1]

[3, 4]

In [117]:
li[:1:-1]

[1, 2, 3, 4]

In [118]:
li[3::-1]

[3, 4, 5, 6]

In [119]:
# now to reverse the list completely
li[::-1]

[1, 2, 3, 4, 5, 6]

In [121]:
# as we know that the above output is not stored anywhere
# we could store it simply doing
li = li[::-1]
li

[6, 5, 4, 3, 2, 1]

### Question 3

<pre>
Swap Alternate

You have been given an array/list(ARR) of size N. You need to swap every pair of alternate elements in the array/list.
You don't need to print or return anything, just change in the input array itself.
Input Format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the elements of the resulting array in a single row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1sec
Sample Input 1:
1
6
9 3 6 12 4 32
Sample Output 1 :
3 9 12 6 32 4
Sample Input 2:
2
9
9 3 6 12 4 32 5 11 19
4
1 2 3 4
Sample Output 2 :
3 9 12 6 32 4 11 5 19 
2 1 4 3 
</pre>

In [30]:
def swapAlternate(arr, n) :
    a = 0
    b = 1
    for i in range(len(arr)//2):
        arr[a],arr[b] = arr[b],arr[a]
        a +=2
        b +=2
    return arr

a = swapAlternate([9, 3, 6, 12, 4, 32, 5, 11, 19],9)
print(a)

[3, 9, 12, 6, 32, 4, 11, 5, 19]

In [32]:
def swapAlternate(arr, n) :
    for i in range(0, (n-1), 2):
        temp = arr[i]
        arr[i] = arr[i+1]
        arr[i+1] = temp
    return arr

a = swapAlternate([9, 3, 6, 12, 4, 32, 5, 11, 19],9)
print(a)

[3, 9, 12, 6, 32, 4, 11, 5, 19]

### Question 4

<pre>
Find Unique

You have been given an integer array/list(ARR) of size N. Where N is equal to [2M + 1].
Now, in the given array/list, 'M' numbers are present twice and one number is present only once.
You need to find and return that number which is unique in the array/list.
 Note:
Unique element is always present in the array/list according to the given condition.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the unique element present in the array.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
7
2 3 1 6 3 6 2
Sample Output 1:
1
Sample Input 2:
2
5
2 4 7 2 7
9
1 3 1 3 6 6 7 10 7
Sample Output 2:
4
10
</pre>

In [20]:
def findUnique(arr, n):
    for j in range(0,n):
        ptr = 0
        for i in range(n):
            if arr[j] == arr[i]:
                ptr +=1          
        if ptr == 1:
            return(arr[j])
            break # added as we know there is only one unique element
     
           
a = findUnique([2, 3, 1, 6, 3, 6, 2],7)
print(a)

1

<pre>
Time Complexity for this approach: Time complexity for this approach is O(n^2), which is not good, hence we move to the next approach.

Approach 2:We can Use Sorting to solve the problem in O(nLogn) time. The idea is simple,first sort the array,
so that all occurrences of every element become consecutive. Once theoccurrences become consecutive, we can traverse the sorted array and print the unique elementin O(n) time.

Approach 3: The best solution is to use XOR. Taking XOR of all the elements present in the array, gives us the unique element present in the array. time complexity is O(n)

read the pdf for more
</pre>

### Question 5

<pre>
Find Duplicate

You have been given an integer array/list(ARR) of size N which contains numbers from 0 to (N - 2). Each number is present at least once. That is, if N = 5, 
the array/list constitutes values ranging from 0 to 3 and among these, there is a single integer value that is present twice. You need to find and return that duplicate number present in the array.
Note :
Duplicate number is always present in the given array/list.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.
Output Format :
For each test case, print the duplicate element in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
Time Limit: 1 sec
Sample Input 1:
1
9
0 7 2 5 4 7 1 3 6
Sample Output 1:
7
Sample Input 2:
2
5
0 2 1 3 1
7
0 3 1 5 4 3 2
Sample Output 2:
1
3
</pre>

In [38]:
def duplicateNumber(arr, n):
    for j in range(0,n-1):
        ptr = 0
        for i in range(0,n):
            if arr[j] == arr[i]:
                ptr +=1          
        if ptr == 2:
            return(arr[j])
            break # added as we know there is only one duplicate element
        
a  = duplicateNumber([4, 2, 3, 1, 4, 0],6)
print(a)

4

<pre>
Approach 2: A better solution for this problem can be by using XOR operator. Using XORoperator, we can solve this problem in one traversal only.

Approach 3: Another approach is to make use of the condition that all elements lies between 0and n-2. So first calculate the sum of all natural numbers between 0 to n-2 by using the directformula ((n - 1) * (n - 2)) / 2 and sum of all elements of the array. Now, subtract the sum of allnatural numbers between 0 to n-2 from sum of all elements of the array. This will give you theduplicate element present in the array.

Pseudo Code for this approach:Function findduplicate:
    sum=0    
    For i = 0 to i less than size:
        sum = sum + input[i];  
    n = size  
    sumOfNaturalNumbers = ((n - 1) * (n - 2)) / 2
(for more details see pdf)
</pre>

### Ouestion 6

<pre>
Array Intersection

You have been given two integer arrays/list(ARR1 and ARR2) of size M and N, respectively. You need to print their intersection; An intersection for this problem can be defined when both the arrays/lists contain a particular value or to put it in other words, when there is a common value that exists in both the arrays/lists.
Note :
Input arrays/lists can contain duplicate elements.

The intersection elements printed would be in the order they appear in the first array/list(ARR1)


Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements of the first the array/list.

Third line contains an integer 'M' representing the size of the second array/list.

Fourth line contains 'M' single space separated integers representing the elements of the second array/list.
Output format :
For each test case, print the intersection elements in a row, separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
0 <= M <= 10^5
Time Limit: 1 sec 
Sample Input 1 :
2
6
2 6 8 5 4 3
4
2 3 4 7 
2
10 10
1
10
Sample Output 1 :
2 4 3
10
Sample Input 2 :
1
4
2 6 1 2
5
1 2 3 4 2
Sample Output 2 :
2 1 2
Explanation for Sample Output 2 :
Since, both input arrays have two '2's, the intersection of the arrays also have two '2's. The first '2' of first array matches with the first '2' of the second array. Similarly, the second '2' of the first array matches with the second '2' if the second array.
</pre>

In [9]:
def intersections(arr1, n, arr2, m) :
    for i in range(0,n):
        for j in range(0,m):
            if arr1[i] == arr2[j]:
                print(arr1[i], end =' ')
                arr2[j] = -10000000
                break

a = intersections([1,6,8,5,4,3],6,[2, 3, 4, 7],4)
print(a)

4 3 None

### Question 7

<pre>
Pair Sum

You have been given an integer array/list(ARR) and a number X. Find and return the total number of pairs in the array/list which sum to X.
Note:
Given array/list can contain duplicate elements. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of pairs present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^3
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
9
1 3 6 2 5 4 3 2 4
7
Sample Output 1:
7
Sample Input 2:
2
9
1 3 6 2 5 4 3 2 4
12
6
2 8 10 5 -2 5
10
Sample Output 2:
0
2


 Explanation for Input 2:
Since there doesn't exist any pair with sum equal to 12 for the first query, we print 0.

For the second query, we have 2 pairs in total that sum up to 10. They are, (2, 8) and (5, 5).
</pre>

In [2]:
def pairSum(arr, n, x) :
    ctr = 0 
    for i in range(n-1):
        for j in range(i+1, n):
            if arr[i] + arr[j] == x:
                ctr += 1
    return(ctr)

a = pairSum([1, 3, 6, 2, 5, 4, 3, 2, 4],9,7)
print(a)

7

### Question 8

<pre>
Triplet Sum

You have been given a random integer array/list(ARR) and a number X. Find and return the number of triplets in the array/list which sum to X.
Note :
Given array/list can contain duplicate elements.
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the first array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an integer 'X'.
Output format :
For each test case, print the total number of triplets present in the array/list.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 50
0 <= N <= 10^2
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
1
7
1 2 3 4 5 6 7 
12
Sample Output 1:
5
Sample Input 2:
2
7
1 2 3 4 5 6 7 
19
9
2 -5 8 -6 0 5 10 11 -3
10
Sample Output 2:
0
5


 Explanation for Input 2:
Since there doesn't exist any triplet with sum equal to 19 for the first query, we print 0.

For the second query, we have 5 triplets in total that sum up to 10. They are, (2, 8, 0), (2, 11, -3), (-5, 5, 10), (8, 5, -3) and (-6, 5, 11)
</pre>

In [19]:
def findTriplet(arr, n, x) :
    ctr = 0 
    for i in range(n-1):
        for j in range(i+1, n):
            for k in range(j+1,n):
                if arr[i] + arr[j] + arr[k]== x:
                    ctr += 1
    return(ctr)

a = pairSum([2, -5, 8, -6, 0, 5, 10, 11, -3],9,10)
print(a)

2

### Question 9

<pre>
Sort 0 1

You have been given an integer array/list(ARR) of size N that contains only integers, 0 and 1. Write a function to sort this array/list. Think of a solution which scans the array/list only once and don't require use of an extra array/list.
Note:
You need to change in the given array/list itself. Hence, no need to return or print anything. 
Input format :
The first line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow.

First line of each test case or query contains an integer 'N' representing the size of the array/list.

Second line contains 'N' single space separated integers(all 0s and 1s) representing the elements in the array/list.
Output format :
For each test case, print the sorted array/list elements in a row separated by a single space.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^2
0 <= N <= 10^5
Time Limit: 1 sec
Sample Input 1:
1
7
0 1 1 0 1 0 1
Sample Output 1:
0 0 0 1 1 1 1
Sample Input 2:
2
8
1 0 1 1 0 1 0 1
5
0 1 0 1 0
Sample Output 2:
0 0 0 1 1 1 1 1
0 0 0 1 1 
</pre>

In [17]:
def sortZeroesAndOne(arr, n):
    nextZero = 0
    for i in range(n) :
        if arr[i] == 0 :
            arr[nextZero],arr[i] = arr[i],arr[nextZero]
            nextZero += 1
    return(arr)
    
a = sortZeroesAndOne([0, 1, 1, 0, 1, 0, 1],7)
print(a)

[0, 0, 0, 1, 1, 1, 1]

## Searching and Sorting

### Binary Search

<pre>
Code Binary Search

You have been given a sorted(in ascending order) integer array/list(ARR) of size N and an element X. Write a function to search this element in the given input array/list using 'Binary Search'. Return the index of the element in the input array/list. In case the element is not present in the array/list, then return -1.
Input format :
The first line contains an Integer 'N' which denotes the size of the array/list.

Second line contains 'N' single space separated integers representing the elements in the array/list.

Third line contains an Integer 't' which denotes the number of test cases or queries to be run. Then the test cases follow..

All the 't' lines henceforth, will take the value of X to be searched for in the array/list.
Output Format :
For each test case, print the index at which X is present, -1 otherwise.

Output for every test case will be printed in a separate line.
Constraints :
1 <= t <= 10^4
0 <= N <= 10^6
0 <= X <= 10^9
Time Limit: 1 sec
Sample Input 1:
7
1 3 7 9 11 12 45
1
3
Sample Output 1:
1
Sample Input 2:
7
1 2 3 4 5 6 7
2
9
7
Sample Output 2:
-1
6
</pre>